.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.heading{
    text-align: center;
    font-size: 50px ;
    color:rgb(80, 73, 73) ;
    padding: 10px;
    margin: 10px 0px;
}
.heading span{
    color: rgb(230, 144, 144);
    font-size: 50px ;
    font-weight: 600px;
}
.about .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    padding-bottom: 3px;
}
.about .row .container{
    flex:1 1 40px;
    position: relative;
    justify-items: center;
}
.about .row .container img{
    border-radius: 50%;
    justify-items: center;
    width: 90%;
    border: 15px solid rgb(230, 144, 144);
    box-shadow: 0 .8px 1.5rem rgba(0, 0, 0, 0.2);
    height: 100%;
}
.about .row .container h3{
    position: absolute;
    top: 40%;
    transform: translateY(-60%);
    font-size: 50px ;
    background: white;
    width: 95%;
    text-align: center;
    padding: 10px 10px;
    mix-blend-mode: screen;
}
.about .row .content{
    flex:1 1 80px;
    padding: 20px;
    text-align: center;
}
.about .row .content h3{
    font-size: 40px;
    color: rgb(80, 73, 73);  
}
.about .row .content p{
    font-size: 20px;
    color: rgb(100, 74, 74);  
    padding:5px 0;
    padding-top: 1px;
    line-height: 1.5;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: rgb(128, 94, 94);
    color: white;
    font-size: 20px;
    border-radius: 50px;
    text-decoration: none;
    transition:.3s ease;
}
.btn:hover{
    background: pink;
}